fastapi==0.100.0
uvicorn==0.22.0
sqlalchemy==2.0.15  # Используем SQLAlchemy 2.0
pydantic==2.1.0     # Используем Pydantic 2.x
python-jose[cryptography]==3.3.0
bcrypt
passlib==1.7.4
python-dotenv==1.0.0